@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap); 

:root{
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container{
    position: absolute;
    width: 120%;
    height: 100vh;
    background: url('bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#scene .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#scene .layer img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login{
    position: relative;
    padding: 60px;
    background-color: #ffffff26; /*#FFFFFF7F;*/
    backdrop-filter: blur(30px);
    border: 1px solid #FFFFFF7F;
    border-bottom: 1px solid #ffffff40;
    border-left: 1px solid #ffffff40;
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px #0000001a;
}
.login h2{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5 em;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 10px;
}

.InputBox{
    position: relative;
}

.InputBox input{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: var(--white);
    border-radius: 5px;
    background: #00000033;
    box-shadow: inset 0 0 15px #00000040;
    border: 1px solid #00000080;
}

.InputBox ::placeholder{
    color: #ffffff80;
}

.InputBox #btn{
    position: relative;
    border: none;
    outline: none;
    background: #ffffff33;
    box-shadow: inset 0 0 15px #ffffff40;
    border: 1px solid #ffffff80;
    cursor: pointer;
    color: var(--white);
    font-weight: 500;
}

.group{
    display: flex;
    justify-content: space-between;
}

.group  a{
    font-size: 1.25em;
    color: var(--white);
    text-decoration: none;
}

.group a:nth-child(2){
    text-decoration: underline;
}